<!-- hero -->
<section class="content-section py-content relative flex">
	<div class="relative w-3/5">
		<img
			src="/assets/circle-2-spikey.svg"
			class="absolute -left-24 -top-20 z-0 rotate-3 transform"
		/>
		<p class="relative z-10 text-8xl font-black">
			Amazing jewelers for amazing people.
		</p>
		<div class="pt-content">
			<app-button
				[disabled]="true"
				kind="secondary"
				size="lg"
				title="Search jewelers"
			></app-button>
		</div>
	</div>
	<div class="relative w-2/5">
		<img
			src="/assets/diamond-ring.jpg"
			alt="Man kissing the hand of a woman wearing a diamond ring"
			class="shadow-stack rotate-3 transform border-2 border-neutral-900"
		/>
	</div>
</section>
<!-- tbd -->
<section class="py-content bg-pattern border-y-2 border-neutral-900">
	<div class="content-section">
		<h2 class="text-4xl font-black">Hello</h2>
	</div>
</section>
<!-- diamond gallery -->
<section class="content-section py-content">DIAMOND GALLERY</section>
<!-- about -->
<section
	class="py-content border-y-2 border-neutral-950 bg-neutral-900 text-amber-300"
>
	<div class="content-section">
		<h2 class="text-4xl font-black">Hello</h2>
	</div>
</section>
