<span aria-hidden="true" aria-expanded="true" [ngClass]="{
    'left-0': alignment === 'start',
    'left-1/2 transform -translate-x-1/2 text-center': alignment === 'center',
    'right-0': alignment === 'end',
    'bottom-10': position === 'top' && size === 'sm',
    'bottom-14': position === 'top' && size !== 'sm',
    'top-10': position === 'bottom' && size === 'sm',
    'top-14': position === 'bottom' && size !== 'sm'

}" class="absolute min-w-fit w-full z-10 py-1.5 px-3 bg-neutral-800 text-sm">
	<div class="relative text-neutral-900">
		<svg
			aria-hidden="true"
			xmlns="http://www.w3.org/2000/svg"
			width="16"
			height="16"
			fill="currentColor"
			viewBox="0 0 16 16"
			[ngClass]="{
                '-left-1': alignment === 'start' && (size === 'sm' || size === 'field'),
                'left-0': alignment === 'start' && (size === 'md' || size === 'lg'),
                'left-1/2 transform -translate-x-1/2': alignment === 'center',
                '-right-1': alignment === 'end' && (size === 'sm' || size === 'field'),
                'right-0': alignment === 'end' && (size === 'md' || size === 'lg')
            }"
            class="absolute -top-[17px]"
		>
			<path
				d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
			/>
		</svg>
	</div>
	<span class="whitespace-nowrap text-neutral-300">{{ title }}</span>
</span>
