<div class="relative w-full">
	<label
		*ngIf="label"
		for="{{ id }}"
		[ngClass]="{
			'cursor-not-allowed text-zinc-500': isReadOnly,
			'cursor-text': !isReadOnly,
			'sr-only': isLabelHidden
		}"
		class="block font-medium text-neutral-700 display-font text-sm"
	>
		{{ label }} {{ isRequired ? '*' : '' }}
	</label>
	<div
		[ngClass]="{
			'mt-1.5': label
		}"
		class="relative flex"
	>
		<span
			*ngIf="units"
			class="flex w-10 flex-none items-center justify-center bg-neutral-900 px-3 pt-[8px] pb-[7px] text-neutral-400"
		>
			{{ units }}
		</span>
		<input
			autocomplete="off"
			[ngClass]="{
				'md:pr-10': type !== 'number' && hasIncrementDecrement,
				'placeholder:text-red-500 border-red-600 text-red-700 focus:border-red-700 focus:ring-red-800':
					error,
				'cursor-not-allowed border-neutral-700 text-neutral-400': isReadOnly,
				'cursor-text border-neutral-900 text-neutral-900 focus:border-neutral-950 focus:ring-neutral-950':
					!isReadOnly
			}"
			class="block w-full border-b-4 border-2 bg-tan-100 py-1.5 pr-3 pl-3 md:py-2 placeholder:text-neutral-500 placeholder:text-xs focus:outline-none sm:text-sm md:placeholder:text-sm hover:bg-tan-200 transition-colors duration-150"
			[disabled]="isReadOnly"
			id="{{ id }}"
			(input)="handleInput($event)"
			max="{{ type === 'number' ? max : null }}"
			min="{{ type === 'number' ? min : null }}"
			name="{{ id }}"
			placeholder="{{ placeholder }}"
			[required]="isRequired"
			[type]="type"
			[(ngModel)]="value"
		/>
		<div
			*ngIf="error"
			class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3 text-red-700"
		>
			<ng-icon name="heroExclamationCircle" size="18"></ng-icon>
		</div>
	</div>
	<div
		*ngIf="error || isReadOnly || helperText"
		class="mt-1.5 text-left text-xs md:text-sm"
	>
		<div *ngIf="error; then thenBlock; else elseBlock"></div>
		<ng-template #thenBlock>
			<p class="text-red-700">{{ error }}</p>
		</ng-template>
		<ng-template #elseBlock>
			<p class="text-neutral-600">
				{{ helperText ? helperText : 'This field is not editable' }}
			</p>
		</ng-template>
	</div>
</div>
